@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: #fff;
    font-family: "Lato", sans-serif;
}
* {
    -webkit-tap-highlight-color: transparent !important;
}
input,
textarea {
    width: 100%;
    box-sizing: border-box;
}
.error-message{
    color: white;
    font-size: 14px;
    margin-top: 5px;
}
.err-message{
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.react-tel-input .flag-dropdown{
    margin-left: 50px;
    display:none;
}
input[type="tel"] {
    width: 100% !important;
}
&::-webkit-scrollbar {
    width: 7px;
}
&::-webkit-scrollbar-track {
    background: #f1f1f1;
}
&::-webkit-scrollbar-thumb {
    background: #888;
}

.container {
    width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.thumb {
height: 20px;
width: 20px;
background-color: #90caf9;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
position: relative;
}

.tooltip {
position: absolute;
top: -30px;
background-color: #90caf9;
color: #fff;
padding: 2px 8px;
border-radius: 4px;
font-size: 12px;
white-space: nowrap;
}
@media (max-width: 992px) {
    .no-scroll {
      overflow: hidden;
      height: 100vh;
    }
}

.add-album-btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;    
    button{
      display: flex;
      align-items: center ;
      gap: 10px ;
      background-color: transparent;
      color: #ab19ff;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid #ab19ff;
      font-size: 18px;     
    }
}

.add-album-btn button {
    display: flex;
    align-items: center ;
    gap: 10px ;
    background-color: transparent;
    color: #ab19ff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ab19ff;
    font-size: 18px;
}
.add-album-btn button img {
    width: 20px;
    height: 20px;
}